<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<!--
  This file is part of the DITA Bootstrap Lunr Search plug-in for DITA Open Toolkit.
  See the accompanying LICENSE file for applicable licenses.
-->
<plugin id="net.infotexture.dita-bootstrap.lunr" version="5.3.5">
  <require plugin="net.infotexture.dita-bootstrap"/>
  <feature extension="ant.import" file="process_lunr.xml"/>
  <!-- Ensure the plugin's error and logging messages are available -->
  <feature extension="dita.xsl.messages" file="resource/messages.xml"/>
  <!-- HTML5 extension points -->
  <feature
    extension="dita.xsl.html5-bootstrap"
    value="xsl/xhtml.xsl"
    type="file"
  />
  <feature extension="bootstrap.process.pre" value="lunr.init"/>
  <feature extension="depend.preprocess.post" value="lunr"/>
  <!-- Internationalization of texts -->
  <feature extension="dita.xsl.strings" file="cfg/common/vars/strings.xml"/>
  <feature extension="dita.conductor.html5.param" file="insertParameters.xml"/>

  <transtype name="html5-bootstrap" extends="html5">
    <param name="offline.mode" type="enum">
      <val>yes</val>
      <val default="true">no</val>
    </param>
  </transtype>
</plugin>
